<div class="header">
        <div class="header-inner">
            <ul class="header-nav">
                <li>
                    <a>Shop and Learn</a>
                </li>
                <li>
                    <a>Apple Store</a>
                </li>
                <li>
                    <a>For Education</a>
                </li>
                <li>
                    <a>For Education</a>
                </li>
            </ul>
        </div>
 </div>
