<div id="sidebar" class="sidebar default">
    <div id="sidebarMask" class="sidebar-mask"></div>
    <div class="sidebar-main">
        <div class="sidebar-close"><span id="hideSidebar"></span></div>
        <div class="sidebar-list">
            <ul>
                <li><a href="#">Mac</a></li>
                <li><a href="#">iPad</a></li>
                <li><a href="#">iPhone</a></li>
                <li><a href="#">Watch</a></li>
                <li><a href="#">TV</a></li>
                <li><a href="#">Music</a></li>
                <li><a href="#">Support</a></li>
            </ul>
        </div>
    </div>
</div>