<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0" />
    <%-include("../share/header.ejs")%>
</head>

<body>
    <h2>result</h2>
    <%-include("../share/footer.ejs")%>
</body>

</html>
